<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <title>
        森林の宴 - MENU
    </title>
    <meta name="description" content="キャンプを支配する。">

    <!--css-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/camp_tent_illust_4022.png">
</head>

<body>
    <div id="menu" class="big-bg">

        <header class="page-header wrapper">
            <nav>
                <ul class="main-nav">
                    <li><a href="index.html">Top</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="contact.jsp">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="menu-content wrapper">
            <h2 class="page-title">Menu</h2>
            <p>
                体に優しい自然食を提供
            </p>
            <p>
                美味しい料理と楽しいお酒でリフレッシュしませんか？
            </p>
            <p>
                材料とレシピを提供しておりますが
            </p>
            <p>
                調理済みのお料理をお召し上がりいただけます！
            </p>
        </div><!-- /.menu-content -->

    </div><!-- /#menu -->

    <div class="wrapper grid">
        <div class="item">
            <img src="images/batch_normal__M9A6763.jpg" alt="">
            <p>
                カマンベールアヒージョ
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal_49.jpg" alt="">
            <p>
                アボガドEGG
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal_760B4ED6-228D-45D9-8447-27D1B87318DB_20191016.jpg" alt="">
            <p>
                チーちくボート
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal__65A0656_0627.jpg" alt="">
            <p>
                ビーフジャーキーポテサラ
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal_DSC_42480120190311.jpg" alt="">
            <p>
                鶏肉と野菜のチーズディップ
            </p>
        </div>
        <div class="item">
             <img src="images/batch_normal_0245.jpg" alt="">
            <p>
                カリーブルスト
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal_4DF76206-F676-4019-8FE2-00F1702EA7A1.jpg" alt="">
            <p>
                厚揚げベーコン巻き
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal_515A0163.jpg" alt="">
            <p>
                ねぎの豚肉巻き
            </p>
        </div>
        <div class="item">
            <img src="images/batch_normal_4805_20190904.jpg" alt="">
            <p>
                ブロッコリーのアーリオオーリオ
            </p>
        </div>
    </div><!-- grid -->


    <footer>
        <div class ="wrapper">
            <p><small>&copy;2023 WadaTetsu</small></p>
        </div>
    </footer>
</body>

</html>